name: Deploy services to ECS clusters
run-name: Deploy ${{inputs.services}}
on:
    workflow_dispatch:
        inputs:
            services:
                description: Service names (comma separated)
                type: string
                required: true
    workflow_call:
        inputs:
            services:
                description: Service name (comma separated)
                type: string
                required: true

jobs:
    prepare-matrix:
        name: Build matrix for services
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout on branch
                uses: actions/checkout@v4
                with:
                    sparse-checkout: .github
                    fetch-depth: 1

            -   name: Prepare matrix
                id: set-matrix
                uses: ./.github/actions/nodejs_services_prepare_matrix
                with:
                    services: ${{ inputs.services }}
        outputs:
            matrix: ${{ steps.set-matrix.outputs.matrix }}
    deploy:
        runs-on: ubuntu-latest
        needs:
            - prepare-matrix
        strategy:
            matrix: ${{ fromJson(needs.prepare-matrix.outputs.matrix) }}
        steps:
            -   name: Deploy ${{ matrix.value.service }} to ${{ matrix.value.cluster }} in folder ${{ matrix.value.folder }}
                id: print
                run: |
                    echo "Deploy ${{ matrix.value.service }} to ${{ matrix.value.cluster }} in folder ${{ matrix.value.folder }}"
