name: Deploy services to ECS clusters
run-name: Deploy ${{inputs.services}}
on:
  workflow_dispatch:
    inputs:
      services:
        description: Service names (comma separated)
        type: string
        required: true

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Read config and build matrix
        id: set-matrix
        run: |
          import yaml, json, os
          
          requested_services = [s.strip() for s in os.environ["SERVICES"].split(",")]

          with open(".github/config_variables/aws_ecs_clusters.yml") as f:
              config = yaml.safe_load(f)

          matrix = []
          for cluster, folders in config.items():
            for folder, services in folders:
                for service in services:
                    if service in requested_services:
                        matrix.append({"service": service, "folder": folder, "cluster": cluster})
          
          for service in requested_services:
              if not any(entry["service"] == service for entry in matrix):
                  raise ValueError(f"Service '{service}' not found in any cluster")
          
          for entry in matrix:
              print(f"Deploy '{entry['service']}' to '{entry['cluster']}' in folder '{entry['folder']}'")

          print("::set-output name=matrix::" + json.dumps({"value": matrix}))
        env:
          SERVICES: ${{ github.event.inputs.services }}
        shell: python3 {0}
  deploy:
    runs-on: ubuntu-latest
    needs:
      - prepare-matrix
    strategy:
      matrix: ${{ fromJson(needs.prepare-matrix.outputs.matrix) }}
    steps:
      - name: Deploy ${{ matrix.value.service }} to ${{ matrix.value.cluster }} in folder ${{ matrix.value.folder }}
        id: print
        run: | 
          echo "Deploy ${{ matrix.value.service }} to ${{ matrix.value.cluster }} in folder ${{ matrix.value.folder }}"
